doctype html 
html 
  head 
    title= title 
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css", rel="stylesheet")
  body.app 
    nav.navbar.navbar-default 
      div.navbar-header  
  
          block content
